@use "@angular/material" as mat;


// Base light theme
html {
  color-scheme: black;
}


// Dark mode styles
body.dark-mode {
  color-scheme: dark;
  background-color: #121212;
  color: #ffffff;

  mat-toolbar {
    background: #333333;
    color: #ffffff;
  }

  mat-slide-toggle {
    color: #ffffff;
  }
  mat-icon {
    color: #ffffff;
  }
}

body{
  margin: 0;
}
